

@media (min-width: 834px) and (max-width: 1024px) {
   .burger-bar {
      display: none;
  }
  .s-box-right {
   display: none;
  }
  .section-1 {
   width: 100%;
  }
  .white-box{
   width: 100%;
   margin: 0 auto;
  }
.s-box-right {
   display: none;
}
.s-box-left {
   max-width: 640px;
   align-items: center;
}
.box-3{
   display: none; 
}
.header-icon a{
   font-size: 12px;
  }
 
}

@media (min-width: 375px) and (max-width: 834px) {
   .right-wrapper {
      display: flex;
     }
     .box-3{ 
      display: none;
     }
  .wr-child{
        height: 251px;
     }
  .flex-wrapper{
     flex-direction: column;
     }
  .right-wrapper {
     width: 100%;
     display: flex;
     flex-direction: row;
     column-gap: 20px;
     margin-top: 40px;
     }
     .fa-circle-use-icon {
      display: none;
     }
    
  .left-wrapper {
        width: 100%;
  }
  .wr-child:nth-child(3) {
     display: none;
  }

.wr-child:nth-child(3) {
     display: none;
  }
  .box-3{
     display: none; 
  }
  .s-box-right {
   display: none;
  }
  .s-box-left {
   max-width: 350px;
   display: flex;
  flex-direction: column;
   text-align: center;
  }
  .header-icon {
   padding-left: 10px;
  }
}


@media (min-width: 320px) and (max-width: 375px) {
   .burger-bar {
      display: block;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center; 
      }
   .flex-wrapper{
      flex-direction: column;
   }
   .wr-child:nth-child(2)
   .wr-child:nth-child(3) {
      display: none;
   }
   .right-wrapper {
      width: 100%;
   }
   .left-wrapper {
      width: 100%;
   }
   .left-wrapper div {
      margin-bottom: 36px;
   } 
   .header-nav{
      display: none;
   }
   .s-box-right {
      display: none;
     }
     .s-box-left {
      width: 360px;
      text-align: center;
   }
   }